In [2]:
for a in range(10):
    print("hello python")

hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python
hello python

In [4]:
for a in range(5):                    # first the value 0 comes in a and print hello python and so on till 4
    print(a ,"hello python")          # (0 , 1 , 2 , 3 , 4)

0 hello python
1 hello python
2 hello python
3 hello python
4 hello python

In [5]:
for number in range(5):               # only ending point is declared which is 5
    print(number)

0
1
2
3
4

In [6]:
for number in range(1,10):             # starting and ending point is declared which is 1 and 5 respectively
    print(number)

1
2
3
4
5
6
7
8
9

In [7]:
for number in range(1,10,3):           # 3 steps declared in the 3rd parameter value
    print(number)

1
4
7

In [8]:
for number in range(10,1,-2):           # reverse order of for loop using steps
    print(number)

10
8
6
4
2

In [12]:
numbers = (1,2,3,4,5,6,7)
numbers

(1, 2, 3, 4, 5, 6, 7)

In [13]:
for num in numbers:
    print(f"the flow of numbers is {numbers}")

the flow of numbers is (1, 2, 3, 4, 5, 6, 7)
the flow of numbers is (1, 2, 3, 4, 5, 6, 7)
the flow of numbers is (1, 2, 3, 4, 5, 6, 7)
the flow of numbers is (1, 2, 3, 4, 5, 6, 7)
the flow of numbers is (1, 2, 3, 4, 5, 6, 7)
the flow of numbers is (1, 2, 3, 4, 5, 6, 7)
the flow of numbers is (1, 2, 3, 4, 5, 6, 7)

In [14]:
for number in [11,22,33,44,55]:
    print(number)

11
22
33
44
55

In [15]:
country = "Pakistan"            # when a single string is given, it loops every single alphabet
for char in country:
    print (char)

P
a
k
i
s
t
a
n

In [16]:
country = "Pakistan","USA"       # when more than 1 strings is given it acts as tuples and prints both strings
for char in country:
    print (char)

Pakistan
USA

In [19]:
for number in range(10):            # jesehi 1 ayega wo 3 se divide nhi hoga aur remainder 1 ayega aur break hojaega
    if number%3==1:
        break
    print (number)

0

In [21]:
for number in range(10):                # 0 aya aur break hogya
    if number%3==0:
        break
    print (number)

In [22]:
for number in range(10):                # 0 k baad 1 aya aur break hogya
    if number%3!=0:
        break
    print (number)

0

In [30]:
for number in [5,7,11,90]:             # (%)modulus divides and here remainder should come 0
    if number%2==0:                    # means it checks whether 5 divides by 2 and its remainder comes 0 which is false 
        break                          # it breaks only on the value 90 given in the list when the remainder comes 0S
    print(number)

5
7
11

In [31]:
for num in range(10):                     #continue keyword skips the value declared assigned like 7 here
    if num==7:
        continue
    print(num)

0
1
2
3
4
5
6
8
9

In [32]:
for num in range(10):                      #continue keyword used for two values here 7 and 4 here which is skipped
    if num==7 or num==4:
        continue
    print(num)

0
1
2
3
5
6
8
9

# PRACTICE

In [4]:
for num in range(6):
    if num==4 or num==4:
        continue
    print(num)

0
1
2
3
5