In [ ]:
#operators{+ , - , * , /}

In [1]:
print(40 + 34)

74

In [2]:
a = 2
b = 3
c = a+b
print(c)

5

In [4]:
value1 = 100
value2 = 200.3
sub = value1 - value2
print(sub)

-100.30000000000001

In [5]:
value1 = 100
value2 = 200.3
mul = value1 * value2
print(mul)

20030.0

In [8]:
value1 = 100
value2 = 100
div = value1 / value2
print(div)
#python does division in floating point
#(floating point division)

1.0

In [9]:
value1 = 100
value2 = 100
div = value1 // value2
print(div)
#double slash for result in integer
#(integer division)

1

In [10]:
value1 = 100
value2 = 200
div = value1 // value2
print(div)
#gives the output 0.5 but it cuts the .5 part because we // which returns output in integer

0

In [11]:
# in string + operation is not addition but it is concatenation

a='20'
b='30'
a+b

'2030'

In [15]:
a=1.5
b=1.5
c= a+b
print(c)
#if one floating point comes, means the output will return in floating point

3.0